# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameprojectManage.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\2021\GwaZae\GameprojectManage\.idea\.idea.GameprojectManage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
